* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --link-color: #212121;
  --link-color-hover: #2196f3;
  --link-color-active: #2196f3;
  --logo-color-accent: #2196f3;
  --portfolio-filter-button-color: #f5f4fa;
  --hero-button-color: #2196f3;
  --testimonials-list-item-thumbnail-bg: #f5f4fa;
  --testimonials-list-item-thumbnail-icon-main-color: #212121;
  --testimonials-list-item-thumbnail-icon-accent-color: #2196f3;
  --team-list-item-social-list-item-icon-color: #afb1b8;
  --team-list-item-social-list-item-icon-color-hover: #fff;
  --team-list-item-social-list-item-icon-color-bg-hover: #2196f3;
  --clients-list-item-border-color: #afb1b8;
  --clients-list-item-icon-color: #afb1b8;
  --clients-list-item-item-color-hover: #2196f3;
  --clients-list-item-heading-bg: #2f303acc;
  --portfolio-list-item-description-bg: #2196f3e5;
  --footer-newsletter-signup-form-btn: #2196f3e5;
  --modal-window-application-signup-form-btn: #2196f3e5;

  /* Animation */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Style declaration order:
1. Positioning
2. Box model
3. Typography
4. Visual
5. Misc
*/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  color: #212121;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

/* main {
  padding-top: 80px;
} */

/* Header */

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; */
  /* height: 80px; */
  /* padding: 25px 0; */
}

.header-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.header-menu-list-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-left: -46px;
}
.header-menu-logo {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #212121;
  margin-right: 93px;
}

.header-menu-logo > span {
  color: var(--logo-color-accent);
}

.header-menu-list-nav-item {
  margin-left: 46px;
  position: relative;
  display: flex;
}

.header-menu-list-nav-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
  text-transform: capitalize;
  color: #212121;
  min-height: 80px;
  transition: color var(--transition);
}

.header-menu-list-nav-link::after {
  content: " ";
  display: block;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color var(--transition);
}

.current-page::after,
.header-menu-list-nav-link:hover::after,
.header-menu-list-nav-link:active::after,
.header-menu-list-nav-link:focus::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color-hover);
}

.current-page,
.header-menu-list-contact-link:hover,
.header-menu-list-contact-link:active,
.header-menu-list-contact-link:focus,
.header-menu-list-nav-link:hover,
.header-menu-list-nav-link:active,
.header-menu-list-nav-link:focus {
  color: var(--link-color-hover);
}

.header-menu-list-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-left: -50px;
}

.header-menu-list-contact-item {
  margin-left: 50px;
}

.header-menu-list-contact-item a {
  display: flex;
  align-items: center;
}

.header-menu-list-contact-item .icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-menu-list-contact-item .envelope {
  width: 16px;
  height: 12px;
}

.header-menu-list-contact-item .smartphone {
  width: 10px;
  height: 36px;
}

.header-menu-list-contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
  text-transform: lowercase;
  color: #757575;
  transition: color var(--transition);
}

/* Hero */

.hero {
  color: #fff;
  text-align: center;
}

.hero-image {
  max-width: 1600px;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-button {
  font-weight: 700;
  color: #fff;
  background-color: var(--hero-button-color);
  border: 0px;
  padding: 10px 42px;
  border-radius: 4px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:active {
  background-color: var(--link-color-hover);
  color: #fff;
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

/* Testimonials */

.testimonials-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  padding-bottom: 94px;
}

.testimonials-list-item {
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 270px;
}

.testimonials-list-item-thumbnail {
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--testimonials-list-item-thumbnail-bg);
}

.testimonials-list-item-thumbnail-icon {
  width: 70px;
  height: 70px;
}

.testimonials-item-heading {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.testimonials-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Services */

.services-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.services-list-item {
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
}

.services-list-item-image {
  min-width: 370px;
  display: block;
}

.services-list-item-heading {
  display: flex;
  background-color: var(--clients-list-item-heading-bg);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team-heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.team-list-image {
  min-width: 270px;
  display: block;
}

.team-list-item figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.team-list-item-heading {
  margin-bottom: 10px;
}

.team-list-item-text {
  margin-bottom: 16px;
}

.team-list-item-social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.team-list-item-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--team-list-item-social-list-item-icon-color);
  transition: color var(--transition), background-color var(--transition);
}

.team-list-item-social-list-item-icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.team-list-item-social-list-item:hover,
.team-list-item-social-list-item:focus {
  background-color: var(--team-list-item-social-list-item-icon-color-bg-hover);
  color: var(--team-list-item-social-list-item-icon-color-hover);
}

/* Clients */

.clients-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-list-item {
  display: flex;
  justify-content: center;

  height: 92px;
  min-width: 170px;
  border: 1px solid var(--clients-list-item-border-color);
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--clients-list-item-icon-color);
  transition: color var(--transition), border var(--transition);
}

.header-menu-list-contact-item .icon {
  fill: currentColor;
  margin-right: 10px;
}

.clients-list-item-icon {
  display: flex;
  align-self: center;
  --clients-list-item-icon-color: currentcolor;
}

.clients-list-item .company01 {
  width: 41px;
  height: 48px;
}

.clients-list-item .company02 {
  width: 40px;
  height: 53px;
}

.clients-list-item .company03 {
  width: 45px;
  height: 42px;
}

.clients-list-item .company04 {
  width: 85px;
  height: 42px;
}

.clients-list-item .company05 {
  width: 63px;
  height: 47px;
}

.clients-list-item .company06 {
  width: 94px;
  height: 45px;
}

.clients-list-item:hover,
.clients-list-item:focus {
  border: 1px solid var(--clients-list-item-item-color-hover);
  color: var(--clients-list-item-item-color-hover);
}

/* Portfolio */

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
  padding-bottom: 50px;
}

.portfolio-filter-item {
  margin-left: 8px;
  margin-bottom: 8px;
}

.portfolio-filter-button {
  background-color: var(--portfolio-filter-button-color);
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:active,
.portfolio-filter-button:focus {
  background-color: var(--link-color-hover);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  display: flex;
  background-color: #fff;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  transition: box-shadow var(--transition);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-image {
  display: block;
}

.portfolio-list-item-description {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: var(--portfolio-list-item-description-bg);
  padding: 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  transform: translatey(100%);
  transition: transform var(--transition);
}

.portfolio-list-item:hover .portfolio-list-item-description,
.portfolio-list-item:active .portfolio-list-item-description,
.portfolio-list-item:focus .portfolio-list-item-description {
  transform: translatey(0);
}

.portfolio-list-item figcaption {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list-item-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
  color: var(--link-color);
}

.portfolio-list-item-text {
  line-height: 1.875em;
  color: #757575;
  padding: 0px 24px 20px 24px;
}

/* Footer */

.footer {
  font-style: normal;
  background-color: #2f303a;
  color: #fff;
  padding: 60px 0;
}

.footer-flex {
  display: flex;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #fff;
}

.footer-logo > span {
  color: var(--logo-color-accent);
}

.footer-text {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  list-style-type: none;
  color: #fff;
  margin-bottom: 9px;
}

.footer-text:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}

.footer-link:hover,
.footer-link:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-h3 {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-join-us {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 12px;
  margin-right: 78px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: -10px;
}

.footer-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color var(--transition);
}

.footer-social-list-item-icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: var(--team-list-item-social-list-item-icon-color-bg-hover);
  color: var(--team-list-item-social-list-item-icon-color-hover);
}

/* Footer Newsletter */

.footer-newsletter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  padding-top: 12px;
}

.footer-newsletter-signup-form {
  display: flex;
}

.footer-newsletter-signup-form-input {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-newsletter-signup-form-input:hover,
.footer-newsletter-signup-form-input:focus,
.footer-newsletter-signup-form-input:active {
  outline: none;
}

.footer-newsletter-signup-form-input::placeholder {
  font-size: 16px;
}

.footer-newsletter-signup-form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-newsletter-signup-form-btn);
  border: 0px;
  border-radius: 4px;
  width: 200px;
  padding: 10px 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer-newsletter-signup-form-btn-icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

/* Modal Window */

.modal-backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal-window {
  background-color: #fff;
  min-width: 528px;
  cursor: auto;
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: relative;
}

.modal-window-close-btn {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-window-close-btn-icon {
  display: flex;
  margin: auto;
  width: 11px;
  height: 11px;
}

.modal-window-h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-window-application-signup-form {
  display: flex;
  flex-direction: column;
}

.modal-window-application-signup-form-label {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-window-application-signup-form-input {
  margin-bottom: 10px;
  min-width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border var(--transition);
}

.modal-window-application-signup-form-textarea:hover,
.modal-window-application-signup-form-textarea:focus,
.modal-window-application-signup-form-textarea:active,
.modal-window-application-signup-form-input:hover,
.modal-window-application-signup-form-input:focus,
.modal-window-application-signup-form-input:active {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-window-application-signup-form-textarea {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  min-width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  transition: border var(--transition);
}

.modal-window-application-signup-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.bg-image-name {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6C7.6575 6 9 4.6575 9 3C9 1.3425 7.6575 0 6 0C4.3425 0 3 1.3425 3 3C3 4.6575 4.3425 6 6 6ZM6 7.5C3.9975 7.5 0 8.505 0 10.5V11.25C0 11.6625 0.3375 12 0.75 12H11.25C11.6625 12 12 11.6625 12 11.25V10.5C12 8.505 8.0025 7.5 6 7.5Z' fill='%23212121'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 15px center;
  transition: background-image var(--transition);
}

.bg-image-name:hover,
.bg-image-name:focus,
.bg-image-name:active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6C7.6575 6 9 4.6575 9 3C9 1.3425 7.6575 0 6 0C4.3425 0 3 1.3425 3 3C3 4.6575 4.3425 6 6 6ZM6 7.5C3.9975 7.5 0 8.505 0 10.5V11.25C0 11.6625 0.3375 12 0.75 12H11.25C11.6625 12 12 11.6625 12 11.25V10.5C12 8.505 8.0025 7.5 6 7.5Z' fill='%232196F3'/%3E%3C/svg%3E");
}

.bg-image-phone {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.996 9.12256L10.1579 8.91269C9.71641 8.86203 9.28221 9.01401 8.97102 9.32519L7.63945 10.6568C5.59144 9.61466 3.91251 7.94296 2.87041 5.8877L4.20922 4.54888C4.5204 4.2377 4.67237 3.80349 4.62171 3.36205L4.41185 1.53836C4.325 0.807445 3.70988 0.257446 2.97173 0.257446H1.71976C0.902004 0.257446 0.221746 0.937708 0.272403 1.75547C0.655953 7.93572 5.59868 12.8712 11.7717 13.2548C12.5894 13.3054 13.2697 12.6252 13.2697 11.8074V10.5555C13.2769 9.82453 12.7269 9.2094 11.996 9.12256V9.12256Z' fill='%23212121'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 15px center;
  transition: background-image var(--transition);
}

.bg-image-phone:hover,
.bg-image-phone:focus,
.bg-image-phone:active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.996 9.12256L10.1579 8.91269C9.71641 8.86203 9.28221 9.01401 8.97102 9.32519L7.63945 10.6568C5.59144 9.61466 3.91251 7.94296 2.87041 5.8877L4.20922 4.54888C4.5204 4.2377 4.67237 3.80349 4.62171 3.36205L4.41185 1.53836C4.325 0.807445 3.70988 0.257446 2.97173 0.257446H1.71976C0.902004 0.257446 0.221746 0.937708 0.272403 1.75547C0.655953 7.93572 5.59868 12.8712 11.7717 13.2548C12.5894 13.3054 13.2697 12.6252 13.2697 11.8074V10.5555C13.2769 9.82453 12.7269 9.2094 11.996 9.12256V9.12256Z' fill='%232196F3'/%3E%3C/svg%3E");
}

.bg-image-mail {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0H2C1.175 0 0.5075 0.675 0.5075 1.5L0.5 10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5C15.5 0.675 14.825 0 14 0ZM13.7 3.1875L8.3975 6.5025C8.1575 6.6525 7.8425 6.6525 7.6025 6.5025L2.3 3.1875C2.1125 3.0675 2 2.865 2 2.6475C2 2.145 2.5475 1.845 2.975 2.1075L8 5.25L13.025 2.1075C13.4525 1.845 14 2.145 14 2.6475C14 2.865 13.8875 3.0675 13.7 3.1875Z' fill='%23212121'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 15px center;
  transition: background-image var(--transition);
}

.bg-image-mail:hover,
.bg-image-mail:focus,
.bg-image-mail:active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0H2C1.175 0 0.5075 0.675 0.5075 1.5L0.5 10.5C0.5 11.325 1.175 12 2 12H14C14.825 12 15.5 11.325 15.5 10.5V1.5C15.5 0.675 14.825 0 14 0ZM13.7 3.1875L8.3975 6.5025C8.1575 6.6525 7.8425 6.6525 7.6025 6.5025L2.3 3.1875C2.1125 3.0675 2 2.865 2 2.6475C2 2.145 2.5475 1.845 2.975 2.1075L8 5.25L13.025 2.1075C13.4525 1.845 14 2.145 14 2.6475C14 2.865 13.8875 3.0675 13.7 3.1875Z' fill='%232196F3'/%3E%3C/svg%3E");
}

.modal-window-application-signup-form-terms {
  display: inline-flex;
  align-items: center;
  align-self: center;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal-window-application-signup-form-terms-checkbox {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  fill: #212121;
  width: 16px;
  height: 15px;
}

.modal-window-application-signup-form-terms-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");

  transition: background-image var(--transition);
}

.modal-window-application-signup-form-terms a {
  text-decoration: underline;
  color: #2196f3;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.modal-window-application-signup-form-terms input {
  margin-right: 8px;
}

.modal-window-application-signup-form-btn {
  align-self: center;
  background-color: var(--modal-window-application-signup-form-btn);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
